<!--organismo, fba_result, arquivo_sbml, forma_analise, descricao, data_exec, id_user -->
{% extends "template.html" %}
{% block conteudo %}
      <form action="{{ url_for('create_account') }}" method="post">
        <fieldset>
          <div class="form-group margin_form">
            <label for="name"><strong>Name</strong></label>
            <input type="text" id="name" name="name" class="form-control">
          </div>
          <div class="form-group margin_form">
            <label for="email"><strong>Email</strong></label>
            <input type="email" id="email" name="email" class="form-control">
          </div>
          <div class="form-group margin_form">
            <label for="password">
              <strong>Password &nbsp;&nbsp;</strong>
              <input type="checkbox" onclick="showPass1()"> Show Password
            </label>
            <div class="padrao_pass">The password must contain at least one uppercase letter, one lowercase letter, a number, a symbol and be between 8 and 12 characters long.</div>
            <input type="password" id="password" name="password" class="form-control"
                   title="A senha deve conter pelo menos uma letra maiuscula, uma minuscula, um símbolo, um número, e conter entre 8 a 12 caracteres"
                   pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$">
          </div>

          <script>
            function showPass1() {
              let x = document.getElementById("password");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>

          <div class="form-group margin_form">
            <label for="password2">
              <strong>Repeat the password&nbsp;&nbsp;</strong>
              <input type="checkbox" onclick="showPass2()"> Show Password
            </label>
            <input type="password" id="password2" name="password2" class="form-control" onchange="verifica_senha()">
          </div>

            <script>
            function showPass2() {
              let x = document.getElementById("password2");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>

          <div class="form-group margin_form">
            <label for="instituicao"><strong>Affiliated institution</strong></label>
            <input type="text" id="instituicao" name="instituicao" class="form-control">
          </div>
          <br>

          <button id="salvar_conta" type="submit" class="btn btn-primary btn-salvar" disabled>
            Submit
          </button>
          <input type="button" class="btn btn-warning" value="Back" onClick="history.go(-1)">
          <script>
            $(document).ready(function(){
              $(window).scroll(function(){
                  if ($(this).scrollTop() > 100) {
                      $('a[href="#top"]').fadeIn();
                  } else {
                      $('a[href="#top"]').fadeOut();
                  }
              });

              $('a[href="#top"]').click(function(){
                  $('html, body').animate({scrollTop : 0},800);
                  return false;
              });
            });
          </script>

        </fieldset>
      </form>


    <script>
      function verifica_senha(){
        let senha1 = document.getElementById("password").value;
        let senha2 = document.getElementById("password2").value;
        let ok=false;

        if(senha1 == senha2){
          ok=true;
          document.getElementById("salvar_conta").disabled = false;
        }else{
          alert("Senhas não coincidem")
        }
      }
    </script>
{% endblock %}
